html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

header{
    background-color: black;
}

header h1{
    padding: 5px 10px;
    margin: 0;
}

header h1 a {
color: red;
}

nav {
  text-align: left;
  background-color: lightgray;
  border-bottom: 1px solid gray;
}

nav li, nav a {
  display: inline-block;

}

nav a:hover{
  
  background-color: rgb(105, 230, 32);


}
div{
  float: none;
}

img {
    float: right;
    width: 2px;
  }

  main {
    float: left;
    width: 600px;
    padding-bottom: 10px;
    padding-left: 4px;


  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(196, 194, 194);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(39, 38, 38);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(144, 196, 238);
  }
  
  h1 a {
      color: rgb(226, 92, 14);

  }

  aside {
     float: right;
      width: 600px;
      padding-bottom: 10px;
      padding-left: 4px;
      border-left: 1px solid gray;
     

  }
  
  footer{
    clear: both;
    text-align: center;
    font-size: .8em;
    padding-top: 50px;
   }

  aside section a{
      display: block;
      padding: 6px;
      border-bottom: 1px solid lightgrey;
      color: black;
  }
  .liYellow{
    background-color: lightyellow;
  }

  #records{
    margin-left: 30px;
    width: 80%;
  }

#record div:nth-child(even){
  background-color: lightgrey;
  display: block;
  margin: 5px 0px;
}
 

